#upperPart{
    background-color: lightsalmon;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#innerPart{
    background-color: wheat;
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}

body{
    background-color: lightcoral;
}